{% extends "index.html" %}

{% block content %}
<section class="flex flex-col w-11/12 md-8/12 lg:w-7/12 my-3 mx-auto px-7">
  <h1 
        class="text-2xl sm:text-2xl lg:text-4xl 
                  leading-none font-serif font-extrabold 
                  tracking-tight 
                  text-gray-900
                  dark:text-white
                  mt-10 mb-8">

    Categorias</h1>

    {% if terms %}
        <ul>
            {% for term in terms %}
                <li>
                    <a href="{{ term.permalink | safe }}">{{ term.name }}</a>({{ term.pages | length }})
                </li>
            {% endfor %}
        </ul>
        {% endif %}
</section>
{% endblock content %}
